.Chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 65%;
    right: 20px;
    top: 20px;
    bottom: 20px;
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0,0,0,.2);
}