.ChatMessage {
    margin: 0 16px 16px 16px;
}

.MessageHeader {
    display: flex;
    flex-direction: row;
}

.Username {
    font-size: 10px;
    color: rgba(0,0,0,.3);
    font-weight: 600;
}

.Time {
    margin-left: 6px;
    font-size: 10px;
    color: rgba(0,0,0,.3);
    font-weight: 300;
}

.Message {
    display: flex;
    align-items: center;
    border-radius: 2px;
    background-color: rgba(39,174,96,1);
    color: white;
    font-size: 13px;
    font-weight: 400;
    margin-top: 6px;
    padding: 16px 16px 16px 16px;

}